<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="course review system">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Instructor Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/Static HTML Pages/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Static HTML Pages/css/course-theme.css" rel="stylesheet">
  </head>
    
  <body>

      
      
      
      
      
<!-- html content for partial -->
      

      <div class="row">
        <div class="col-md-3">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs verty" role="tablist">
<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
        </div>
        <div class="col-md-9">
            
              <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">This</div>
    <div role="tabpanel" class="tab-pane" id="profile">Is</div>
    <div role="tabpanel" class="tab-pane" id="messages">The</div>
    <div role="tabpanel" class="tab-pane" id="settings">Test</div>
  </div>
            
          <h3>Course Review Status</h3>
          <p>If you have previously submitted a course for review you will find status updates here. </p>
          <p><a class="btn btn-default" href="#" role="button">Status &raquo;</a></p>
          <h3>Submit New Course</h3>
          <p>If you would like to have a course reviewed please provide information about the course here. </p>
          <p><a class="btn btn-default" href="#" role="button">Submit &raquo;</a></p>
       </div>
      </div>

<!-- end html content for partial -->

        
        
        
        
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/Static HTML Pages/js/bootstrap.min.js"></script>
  </body>
</html>

