<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="course review system">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Instructor Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/Static HTML Pages/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Static HTML Pages/css/course-theme.css" rel="stylesheet">
  </head>
    
  <body>

      
      
      
      
      
<!-- html content for partial -->
      

            <table class="table table-bordered table-responsive">
                <tr class="active"><th>Course Number</th><th>Course ID</th><th>Status</th><th>Date Submitted</th></tr>
                <tr>
                    <td>MATH 1314</td>
                    <td>MATH_1314_mastercourse_2012</td>
                    <td>Submitted</td>
                    <td>6/5/2015</td>
                </tr>
                <tr>
                    <td>EDLD 5624</td>
                    <td>EDLD_5624_mastercourse_2014</td>
                    <td>In Review</td>
                    <td>8/30/2015</td>
                </tr>
                <tr class="success"> <!-- success class added to completed courses that pass -->
                    <td>CS 2314</td>
                    <td>CS_2314_8B_90_AP5_2014</td>
                    <td><a href="#">Completed</a></td> <!-- will link to results -->
                    <td>8/2/2014</td>
                </tr>
                <tr class="danger"> <!-- warning class added to completed courses that do not pass -->
                    <td>CS 2314</td>
                    <td>CS_2314_8B_90_AP5_2014</td>
                    <td><a href="#">Completed</a></td> <!-- will link to results -->
                    <td>8/2/2014</td>
                </tr>
            </table>            

<!-- end html content for partial -->

        
        
        
        
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/Static HTML Pages/js/bootstrap.min.js"></script>
  </body>
</html>

